.username {
    color: yellow;
}

.usernameMobile {
    color: yellow;
    display: none ;
}

.logout {
    width: fit-content;    
}

@media only screen and (max-width: 992px) {
    .usernameMobile {
        display: block;
    }
    .username {
        display: none ;
    }
}