.Mycard {
  height: 21rem;
  width: 22rem;
  
}

.Image {
    height: 33%;
    object-fit: contain;
  }

.Title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.SubTitle {
  font-size: 14px;
  letter-spacing: .25px;
  line-height: 20px;
  font-weight: 500;
  padding: .75rem 1.25rem;
  margin: 0;
}
.BodyText {
  font-size: 14px;
  letter-spacing: .25px;
  line-height: 20px;
  font-weight: 400;
}

.CardMapContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 100%;
  margin: 5px 0;
  position: relative;
}

.CardLogoRound {
  height: 120px;
  width: 120px;
  border-radius: 100px;
  object-fit: contain;
  position: absolute;
  right: 0px;
  z-index: 1000;
  margin: 20px;
  background: white;
}